<%= turbo_frame_tag "todo_#{todo.id}" do %>
  <div class="flex justify-between border-2 border-handwrite border-black mt-5 p-3">
    <%= todo.name %>
    <div class="flex gap-2">
      <%= link_to "Editar",
                  edit_todo_path(todo.id),
                  data: { turbo_stream: true },
                  class: "border-2 border-handwrite border-black p-2"
      %>
      <%= button_to "Remover",
                    todo_path(todo.id),
                    method: :delete,
                    class: "border-2 border-handwrite border-black p-2"
      %>
    </div>
  </div>
<% end %>