<div class="container px-4 mx-auto pt-26">
  <div class="flex justify-between">
    <h1 class="text-3xl font-bold underline">
      Minha lista de tarefas
    </h1>


    <%= link_to "Nova tarefa",
                new_todo_path,
                data: { turbo_stream: true },
                class: "border-2 border-handwrite border-black p-2"
    %>
  </div>

  <%= turbo_frame_tag "new_todo" do %>
  <% end %>

  <%= turbo_frame_tag "todos" do %>
    <% @todos.each do |todo| %>
      <%= render 'todos/todo', todo: todo %>
    <% end %>
  <% end %>
</div>